<blockquote class="quote">
  <p class="quote__text">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum magni omnis
    praesentium facere voluptatem pariatur, numquam quae atque consectetur
    veniam.
  </p>
  <footer class="quote__footer">
    <div class="media">
      <div class="quote__media-image">
        <svg class="icon icon--primary quote__footer-image">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="quote__media-body">
        <h3 class="quote__media-title">Jhone Lumeo</h3>
        <p class="quote__media-company">Mosh Company CEO</p>
      </div>
    </div>
  </footer>
</blockquote>
